.KanbanBoard {
  @include display(flex);
  color: $text-color;
  overflow-x: scroll;
  padding-bottom: 20px;

  .KanbanColumn {
    margin-right: 10px;
  }

}

.KanbanColumn {
  background-color: $light-gray;
  min-width: 250px;
  max-width: 500px;
  @include display(flex);
  @include flex-direction(column);
  @include flex(1);
}

.KanbanColumn-cards, .KanbanColumn-name { padding: 8px; }

.KanbanColumn-cards {
  height: 100%;
  @include flex(1);
}

.KanbanCard {
  padding: 8px;
  background-color: white;
  margin-bottom: 8px;
  cursor: grab;
}

.KanbanCard, .KanbanColumn {
  border-radius: 2px;
}

