.KanbanBoard {
  @include align-items(stretch);
  @include display(flex);
  .KanbanColumn {
    margin-right: 10px;
  }

  color: $text-color;
}

.KanbanColumn {
  background-color: $light-gray;
  @media only screen and (min-width: 900px) {
  	min-width: 300px;
  }
}

.KanbanColumn-cards, .KanbanColumn-name { padding: 8px; }

.KanbanColumn-cards {
  .KanbanCard {
    padding: 8px;
    background-color: white;
    margin-bottom: 8px;
  }
}

.KanbanCard, .KanbanColumn {
  border-radius: 2px;
}

